.completioncontainer{
    display: flex;
    flex-direction: row;
}
.eachtask {
    margin: 4px;
    margin-top: 8px;
    transition: background-color 0.1s ease; /* Add transition effect */
    cursor: pointer; /* Change cursor to pointer on hover */
    word-wrap: break-word;
}

.eachtask:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.individualtaskcontainer{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.individualtaskcontainer button {
    opacity: 0;
    transition: opacity 0.2s ease; /* Smooth transition */
}

/* Make the button visible on hover */
.individualtaskcontainer:hover button {
    opacity: 1;
}

.buttoncontainerfortaskdelete{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 30px;
}

.aligncircle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.circle.completed {
    background-color: #E6BBAD;
}

.eachtask.completed-task h3 {
    text-decoration: line-through;
}
