.homecontainer{
    display: flex;
    flex-direction: row;

}

.main-container-allhands {
    display: flex;
    width: 250px;
    height: 98vh;
}


.leftinfo{
    border: 1px solid rgb(181, 181, 181);
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 4px;
    width: 100%;
    box-shadow: 3px 8px 20px rgba(0, 0, 1, 0.2);

.info-container{
    /* border: 1px solid green; */
    margin: 4px

}


.profile-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;

}

.profi_logo{
    width:50px;
    border-radius: 30px;
}

.user-profile-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-create-note-task{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}

.home-buttons {
    margin: 4px;
    /* background-color: aqua; */
}

.home-buttons:hover {
    background-color: grey;
}

.notebookshowdiv{
    margin-left:40px;
}


.notes-task-calendar-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;
}

.notebooks-tags{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}
