.homecontainer{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, #778899, #708090, #D2B48C, #F5F4F8  );
    background-size: 200% 200%;
    animation: Gradient 60s ease infinite;
    height: 100vh;

}
@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-container-allhands {
    display: flex;
    margin-top: 10px;
    width: fit-content;
}


.leftinfo{
    position: relative;
    left: 2%;
    border: 1px solid rgb(181, 181, 181);
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 4px;
    width: 300px;
    box-shadow: 3px 8px 20px rgba(0, 0, 1, 0.2);
    height: 97vh;
}

.info-container{
    /* border: 1px solid green; */
    margin: 4px

}


.profile-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}


.profi_logo{
    width:80px;
    border-radius: 30px;
}

.user-profile-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fnlncont{
    margin-bottom:0px;
}

.search-create-note-task{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}

.home-buttons {
    padding: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.home-buttons:hover {
    background-color: rgb(186, 186, 186);
    cursor: pointer;
}

.notebookshowdiv{
    margin-left:40px;
}


.notes-task-calendar-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;
}

.notebooks-tags{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}

.quickactionbuttons{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 15px;
}


.secondcontainer {
    /* position: relative; */
    margin-left:10px ;
    left: .4%;
    padding: 15px;
    background-color: lightblue;
    border: 1px solid rgb(197, 197, 197);
    height: 96.8vh;
    border-radius: 10px;
    width: 350px;
    margin-top: 5px; /* aligns with the left task bar */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%); /* Starts off the screen to the left */
    transition: transform 1s ease-in-out;
}

.secondcontainer.open {
    margin-top: 15px;
    transform: translateX(0);
    width: 400px;
}

.taskcontainersidebar{
    width: 92%;
}

.backoffsecond {
    width:90%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.backoffsecond:hover {
    transform: scale(1.1);
    border: 1px solid #000;
}
button {
    background-color: #1E90FF;
    color: white;
    border-radius: 12px;
    padding: 10px 24px;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */
    transition: background-color .3s, transform .3s;
    cursor: pointer;
}

button:hover {
    background-color: #0063b4;
}

button:active {
    transform: translateY(2px);
}
