.homecontainer{
    display: flex;
    flex-direction: row;
    background-color: #F5F4F8 ;

}

.main-container-allhands {
    display: flex;
    width: 300px;
    height: 98vh;
}


.leftinfo{
    border: 1px solid rgb(181, 181, 181);
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 4px;
    width: 100%;
    box-shadow: 3px 8px 20px rgba(0, 0, 1, 0.2);

}

.info-container{
    /* border: 1px solid green; */
    margin: 4px

}


.profile-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;

}

.profi_logo{
    width:50px;
    border-radius: 30px;
}

.user-profile-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-create-note-task{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}

.home-buttons {
    margin: 4px;
    /* background-color: aqua; */
}

.home-buttons:hover {
    background-color: grey;
}

.notebookshowdiv{
    margin-left:40px;
}


.notes-task-calendar-info{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;
}

.notebooks-tags{
    /* border: 1px solid orange; */
    margin: 4px;
    display: flex;
    flex-direction: column;

}


.secondcontainer {
    padding: 15px;
    background-color: lightblue;
    border: 1px solid rgb(197, 197, 197);
    height: 94.5vh;
    border-radius: 10px;
    width: 250px;
    margin-top: 5px; /* aligns with the left task bar */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%); /* Starts off the screen to the left */
    transition: transform 1s ease-in-out;
}

.secondcontainer.open {
    transform: translateX(0);
}

.backoffsecond {
    width:fit-content;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.backoffsecond:hover {
    transform: scale(1.1);
    border: 1px solid #000;
}
