.main-notes-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.homenotescontainer{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 1800px; /* For some reason this needs to be fixed, otherwise when the notebook/task second container, this container will go outside it's bounds */
}

.singlenotecontainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    background-color: white;
    width: 220px;
    height: 320px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Add subtle box shadow */
    transition: transform 0.3s ease; /* Add transition effect */
}

.singlenotecontainer:hover {
    transform: scaleX(1.05) scaleY(1.05); /* Increase width and height by 5% on hover */
}




.singlenote{
    width: 200px;
}

.creatinganewnote{
    background-color: white;
    width: 120px;
    height: 220px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Add subtle box shadow */
    transition: transform 0.3s ease; /* Add transition effect */
    cursor: pointer;
}

.creatinganewnote:hover {
    border: 1px solid black;
}
