.homenotescontainer{
    border: 2px solid yellowgreen;
    display: flex;
    overflow: auto;
}

.singlenotecontainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    

}

.singlenote{
    margin: 2px;
}
