.note-notes-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titleinputedit{
    background: none;
    border: none;
    font-size: 31px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-top: 21.440px;
    margin-bottom: 21.440px;
}
.titleinfo-needsmargin{
    margin-bottom: 30px;
}


.home-notes{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.notesinfocontainer{
    /* margin-top: 40px; */
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    height:89vh;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.notesinfo{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    width: 1000px;

}

.noteinput{
    width: 90%;
    border: none;
    resize: none; /* Prevents the user from resizing the textarea */
    outline: none; /* Removes the blue border on focus */
    font-family: Arial, Helvetica, sans-serif;
}

.notebody-container{
    overflow-x: hidden;
    overflow-y: scroll;
}

.taskandattachmentscontainer{
    /* border: 1px solid red; */
    display: flex;
}

.task-store-container{
    width: 450px
}

.attachment-store-container{
    width: 450px

}
