.titleinputedit{
    background: none;
    border: none;
    font-size: 31px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-top: 21.440px;
    margin-bottom: 21.440px;
}


.home-notes{
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
}

.notesinfocontainer{
    display: flex;
    justify-content: center;
}

.notesinfo{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    width: 600px;

}

.noteinput{
    width: 100%;
    border: none;
    word-wrap: break-word;
}
