button {
    background-color: #1E90FF;
    color: white;
    border-radius: 12px;
    padding: 10px 24px;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */
    transition: background-color .3s, transform .3s;
}

button:hover {
    background-color: #1c96f9;
}

button:active {
    /* Push the button down a bit on click */
    transform: translateY(2px);
}
