.scratchpaper{
    border: 1px solid transparent; /* Make the border transparent by default */
    height: 200px;
    width: 300px;
    padding: 10px;
    cursor: text;
    overflow-wrap: break-word;
    background-color: #F7F0CF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Add subtle box shadow */
    outline: none; /* Remove blue outline */
}

.scratchpaper:focus {
    border-color: rgb(208, 206, 206); /* Change border color on focus */
}

.scratchtonotebuttonstyles {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #000000;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.scratchtonotebuttonstyles:hover {
    background-color: #00b3b3;
}
