.profiledivcontainer {
    position: absolute;
    top: 8%;
}

.profile-dropdown {
    list-style-type: none;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 300px;
}

.profile-dropdown li {
    padding: 10px;
    color: #333;
}

.profile-dropdown button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.profile-dropdown button:hover {
    background-color: #45a049;
}

.logoutdivcontainer {
    width: 100%;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.logoutdiv{
    margin-top: 5px;
    padding: 5px;
}

.logoutdiv:hover{
    background-color: silver;
}
